<h1> Pamela Panel</h1>
<Button><a href='/'>Home</a></Button>
<Button><a href='/cohort'>Cohort</a></Button>
<Button><a href='/instructor'>Instructor</a></Button>
<Button><a href='/student'>Student</a></Button>
<Button><a href='/course'>Course</a></Button>