<h1> Pamela Panel</h1>
<Button class='but'><a href='/'>Home</a></Button>
<Button class='but'><a href='/cohort'>Cohort</a></Button>
<Button class='but'><a href='/instructor'>Instructor</a></Button>
<Button class='but'><a href='/student'>Student</a></Button>
<Button class='but'><a href='/course'>Course</a></Button>